@import "tailwindcss";

.bg-custom {
  background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%),
    url("/background.svg") rgba(0, 0, 1, 0.95);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}