@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate-marqueeTrust {
  animation: marqueeTrust 30s linear infinite alternate;
}
